.moduleTitle {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: #C4C4C4;
    width: 85%;
    cursor: pointer;
    padding: 5px 0;
}

i {
    justify-self: end;
    /* padding: 0 20px; */
}